.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  border-top: 2px solid gold;
}

body {
  padding-bottom: 80px; /* Adjust this value based on your footer's height */
}

