.navbar .nav-link {
  color: #89CFF0 !important; /* baby blue */
}

.navbar .nav-link:hover {
  color: #5aa6d9 !important; /* slightly darker blue on hover */
}
.text-baby-blue {
  color: #89CFF0 !important;
}
