.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #001f3f; /* dark navy */
  color: white;
  text-align: center;
  padding: 20px 0;
  border-top: 2px solid gold;
}

.navbar {
  border-bottom: 2px solid gold;
  
}

body {
  background-color: #001f3f !important; /* dark navy */
  color: #f0f0f0;
  padding-bottom: 80px; /* keep for footer space */
}
